In [1]:
import pandas as pd

In [2]:
players = pd.read_csv('./Data/players.csv')

In [3]:
players

,Unnamed: 0,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PERSON_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,POSITION,HEIGHT,WEIGHT,COLLEGE,COUNTRY
0,0,Achiuwa,Precious,1630173,Toronto,Raptors,TOR,F,6-8,225,Memphis,Nigeria
1,1,Anunoby,O.G.,1628384,Toronto,Raptors,TOR,F,6-7,232,Indiana,United Kingdom
2,2,Banton,Dalano,1630625,Toronto,Raptors,TOR,F,6-7,204,Nebraska,Canada
3,3,Barnes,Scottie,1630567,Toronto,Raptors,TOR,F,6-8,225,Florida State,USA
4,4,Barton,Will,203115,Toronto,Raptors,TOR,G,6-5,181,Memphis,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
540,540,Milton,Shake,1629003,Philadelphia,76ers,PHI,G-F,6-5,205,Southern Methodist,USA
541,541,Niang,Georges,1627777,Philadelphia,76ers,PHI,F,6-7,230,Iowa State,USA
542,542,Reed,Paul,1630194,Philadelphia,76ers,PHI,F,6-9,210,DePaul,USA
543,543,Springer,Jaden,1630531,Philadelphia,76ers,PHI,G,6-4,202,Tennessee,USA
544,544,Tucker,P.J.,200782,Philadelphia,76ers,PHI,F,6-5,245,Texas,USA